<h1>EDIT POST</h1>
<%=form_with model: @post do |form| %>

  <div class="mb-3">
   <%= form.label :author%>
   <%= form.text_field :author, class:"form-control" %>
  </div>

  <div class="mb-3">
   <%= form.label :title %>
   <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="mb-3">
  <%= form.label :content %>
  <%= form.text_area :content, class:"form-control" %>
  </div>


   <%= form.submit "Update Post", class:"btn btn-secondary"%>
   <%= link_to 'Back', post_path, class:"btn btn-dark" %>
 <%end%>

 <% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
 <% end %>
 </ul>
 <% end %>



<% if @post.errors.any? %>
  <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
  <ul>
    <% @post.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %>
