<p><%= notice %></p>
<p>
 Author: <%= @post.author %>
</p>
<p>
 Title: <%= @post.title %>
</p>
<p>
 Content: <%= @post.content %>
</p>
<%= link_to 'Edit', edit_post_path, class:"btn btn-secondary" %>
<%= link_to 'Back', posts_path, class:"btn btn-secondary" %>
